#header {
    height: 100px;
    width: 100%;
    background-color: grey;
    display: table;
}

#subheader {
    padding: 10% 0;
}

#name, #occupation {
    text-align: center;
    width: fit-content;
    margin: auto;  
    color: whitesmoke;
}

/* JS-created elements */

#colorPicker {
    position: absolute;
}

input[type='text'] {
    display: block;
    margin: auto;
 }