#header {
    height: 100px;
    width: 100%;
    background-color: black;
    display: table;
}

#subheader {
    padding: 10% 0;
}

#name, #occupation {
    text-align: center;
    width: fit-content;
    margin: auto;
    color: whitesmoke;
}

#wrapper {
    margin: auto 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.section p {
    margin: 0;
}

h3 {    
    margin-bottom: 0;
    color: navy;
    width: fit-content;
}

#contact {
    grid-column: 1;
    grid-row: 1;
}

.inline * {
    display: inline;
}

.description {
    color: lightslategray;
}


#skills {
    grid-column: 1;
    grid-row: 2;
}

/* JS-created elements */

#colorPicker {
    position: absolute;
    margin: 0;
}

#bckgColorPicker {
    display: none;
}

input[type='text'] {
    display: block;
 }

 #subheader input[type='text'] {
     margin: auto;
 }